
.projectHeader {
    width: 40%;
    text-align: center;
    font-weight: 600;
    /* animation: renderFromRight 0.5s ease forwards; */
}

.projectHeading {
    font-size: 3rem;
    text-align: center;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
}

.moreProject {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .app-content {
        margin-top: 4rem;
    }

}

@keyframes renderFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes renderFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}